html {
    background-color: #202124;
    font-family: Avenir;
}

#app {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
}

p {
    color: #ff9814;
}

#appDesc {
    font-size: 15px;
    padding-left: 35px;
    position: relative;
    bottom: 25px;
    text-shadow: 1px 1px 2px black;
}

#appTitle {
    color: #eaeaea;
    padding-left: 15px;
    text-shadow: #ff9814 1px 0 10px;
}

#rouletteLogo, #appTitle {
    display: inline-block;
    vertical-align: middle;
}

#rouletteLogo {
    filter: drop-shadow(-2px 0px 3px #666666) drop-shadow(5px 0px 5px black);
    padding-left: 10px;
    position: relative;
    left: 10px;
    top: 5px;
}

#titleHeader {
    display: block;
    background-color: #711324;
    width: 99.5%;
    height: 125px;
    border-radius: 10px;
    border-style: double;
    border-width: 2px;
    border-color: #ff9814;
}

#sidebarButton {
    position: relative;
    float: right;
    right: 25px;
    bottom: 110px;
    background-color: transparent;
    border: none;
}

@media screen
    and (max-device-width: 460px) {
        #appTitle {
            font-size: 24px;
        }

        #rouletteLogo {
            padding-left: 0px;
        }

        #appDesc {
            padding-left: 25px;
        }
    }

@media screen
    and (max-device-width: 480px) {
        #sidebarButton {
            right: 10px;
        }
    }